# Byte-code compilado do Python
__pycache__/
*.pyc

# Pastas de ambiente virtual
venv/
env/
.venv/

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dados gerados pela aplicação
/data/input/*.txt
/data/output/*.txt